body {
    background-image: url(futurama.jpg);
    background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;  
    align-items: center;
}

input {
    padding: 8px;
    border-radius: 25px;
    width: 20rem;
    margin: 0 25px;
    font-size: 1.2rem;
}

#boton {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 2px 15px;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

#boton:hover {
    background-color: aquamarine;
    color: black;
}

#favPage {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 2px 25px;
    margin-left: 50px;
    letter-spacing: 2px;
}

#favPage:hover {
    letter-spacing: 5px;
}

h1 {
    font-size: 3.5rem;
    background-color: aquamarine;
    border-radius: 30px;
    padding: 3px 20px;
    cursor: pointer;
}

#characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card{
    width: 200px;
    margin:10px ;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 8px;
    text-align: center;
    align-items: center;
}

.character-card img{
    width: 100%;
}

#fav_div {
    display: flex;
    justify-content: center;
}

.fav {
    color: red;
    font-style: oblique;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.233);
    border-radius: 25px;
    padding: 3px 15px;
    width: fit-content;
}